.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  list-style: none;
}
.category-name {
  margin: 10px;
  background-color: #f2f2f2;
  font-size: 18px;
  color: #333;
  padding: 20px;
  cursor: pointer;
  list-style: none;
}
.active {
  margin: 10px;
  background-color: red;
  font-size: 18px;
  color: white;
  padding: 20px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
